* {
	margin: 0;
	border: 0;
	padding: 0;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	line-height: 1.25;
	font-family: 'Oxygen', sans-serif;
}

body {
	background: white;
	font-family: Arial;
}

#title {
	display: block;
	font-size: 55px;
	color: white;
	background: #4a0308;
	text-align: center;
	padding: 30px 0;
	margin-bottom: 50px;
}

.section {
	max-width: 800px;
	margin: 0 auto;
}

.section h2 {
	text-align: center;
	font-size: 32px;
	margin-bottom: 20px;
}

.section .section_block {
	background: #eeeeee;
	display: flex;
	flex-direction: column;
	min-height: 200px;
	padding: 10px;
	margin-bottom: 40px;
}

.section .block_title {
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	padding-bottom: 10px;
}

.section .block_content {
	display: flex;
	flex-direction: row;
}

.section .thumbnail {
	width: 150px;
	margin-right: 15px;
}

.section .block_description span {
	display: block;
	min-height: 90px;
}

.section .block_download_icons {
	display: flex;
	flex-direction: row;
	padding-top: 10px;
	
}
.section .block_download_icons a {
	margin: 0 5px;
}

.section .block_download_icons a img {
	height: 50px;
}
